Imports

In [237]:
from pathlib import *
import pandas as pd
import os
from decimal import *

Reading the student and identity codes file using pd.read_csv()

In [238]:
# HERE = os.path.join(os.path.dirname(__file__), '..')

# DATA_FOLDER = HERE  +"\data"


roster = pd.read_csv(
    "data/roster.csv",
    # converters={"NetID": str.lower, "Email Address": str.lower},
    usecols=["Student name", "ID"],
    # Set index
    index_col=["ID", "Student name"],
)

In [239]:
Test_quiz = pd.read_csv("data/quiz__grades.csv")
Test_quiz.head()

      Student name       ID  Chem Quiz  Bio Quiz  Phy Quiz  Math Quiz
0       Bett James  GR-0483        127       184        52        133
1  Namukolo Abrams  GR-0484        141       177        21        136
2       Vera Abutu  GR-0485         51       112        61         74
3       Kwame Doga  GR-0486         26       133        62         86
4    Lukeman Ahmad  GR-0487         29        21       177         50

In [240]:
chem_quiz = input("Enter the name of the student: ")
for i,j in Test_quiz["Student name"], Test_quiz["ID"]:
    if i == chem_quiz | j == chem_quiz :
        quiz = Test_quiz.loc[Test_quiz["Student name"]== i]
        print(quiz.iloc[:1, :3])

ValueError: too many values to unpack (expected 2)

In [ ]:
# from utils import file_path

# quiz_name = " ".join({})
quiz_grades = pd.DataFrame()

quiz = pd.read_csv(
     "data/quiz__grades.csv",
     index_col= ["ID", "Student name"],
     usecols=["Student name", "ID", "Chem Quiz", "Bio Quiz", "Phy Quiz", "Math Quiz"]



)
quiz_grades = pd.concat([quiz_grades, quiz], axis=0)
quiz_grades.head()

                         Chem Quiz  Bio Quiz  Phy Quiz  Math Quiz
ID      Student name
GR-0483 Bett James             127       184        52        133
GR-0484 Namukolo Abrams        141       177        21        136
GR-0485 Vera Abutu              51       112        61         74
GR-0486 Kwame Doga              26       133        62         86
GR-0487 Lukeman Ahmad           29        21       177         50

In [ ]:
hw_exam_grades = pd.read_csv(
    "data/homework.csv",
    usecols= lambda x: "Submission" not in x,
    index_col=["ID",  "Student name"],
)
hw_exam_grades.head()

                         Chem HW  Bio HW  Phy HW  Math HW
ID      Student name
GR-0483 Bett James           135     186     142       97
GR-0484 Namukolo Abrams       82     170      12      180
GR-0485 Vera Abutu           102      55     105       50
GR-0486 Kwame Doga           166     108      59      181
GR-0487 Lukeman Ahmad        180     123      11       18

In [ ]:
hw_exam_grades["Chem HW"].head()

ID       Student name
GR-0483  Bett James         135
GR-0484  Namukolo Abrams     82
GR-0485  Vera Abutu         102
GR-0486  Kwame Doga         166
GR-0487  Lukeman Ahmad      180
Name: Chem HW, dtype: int64

In [ ]:
attendance = pd.read_csv(
    "data/Attendance.csv",
    usecols=["Student name", "ID", "Chem", "Bio", "Phy", "Math"],
    index_col=["ID", "Student name"]
).rename(columns={"Chem": "Chem Atnd", "Bio": "Bio Atnd", "Phy": "Phy Atnd", "Math": "Math Atnd"})

In [ ]:
attendance

                         Chem Atnd  Bio Atnd  Phy Atnd  Math Atnd
ID      Student name
GR-0483 Bett James              17        58        29         34
GR-0484 Namukolo Abrams         95        57        43         48
GR-0485 Vera Abutu              96        71        83         93
GR-0486 Kwame Doga              75        52        94         66
GR-0487 Lukeman Ahmad           38        47        38         34
GR-0488 Akin Torey              26        88        37         14
GR-0489 Luke Brant              91        51        93         22
GR-0490 James Kenyata           39        13        90         25
GR-0491 Ngugi Tionga            14        42        70         36
GR-0492 Okoro Eze               31        58        54         71
GR-0493 Agatha Chiluba          67        64        86         55
GR-0494 Mangu Joseph            82        87        63         13
GR-0495 Longe Jethro            48        92        65         50
GR-0496 Florence Giwa           30        36        24         18
GR-0497 Vetiva Lucent           48        48        84         73
GR-0498 Melody Braimoh          68        38        43         36
GR-0499 Victor Ihab             83        51        50         63
GR-0500 Mimi Trucker            80        41        73         44
GR-0501 Maguel Peter            63        28        80         95
GR-0502 Wellington Zuba         92        19        88         94

Loading the Quiz Files

In [ ]:
Exam = pd.read_csv(
    "data/Exam.csv",
    usecols=["Student name", "ID", "Chem", "Bio", "Phy", "Math"],
    index_col=["ID", "Student name"]
).rename(columns={"Chem": "Chem Exam", "Bio": "Bio Exam", "Phy": "Phy Exam", "Math": "Math Exam"})

In [ ]:
Exam.head()

                         Chem Exam  Bio Exam  Phy Exam  Math Exam
ID      Student name
GR-0483 Bett James              46        97        73         45
GR-0484 Namukolo Abrams         52        41        31         31
GR-0485 Vera Abutu              24        51        98         94
GR-0486 Kwame Doga              73        68        65         67
GR-0487 Lukeman Ahmad           80        90        51         68

Merging

In [ ]:
final_data = pd.merge(
    roster, hw_exam_grades, left_index= True, right_index=True,
)
final_data.head()

                         Chem HW  Bio HW  Phy HW  Math HW
ID      Student name
GR-0483 Bett James           135     186     142       97
GR-0484 Namukolo Abrams       82     170      12      180
GR-0485 Vera Abutu           102      55     105       50
GR-0486 Kwame Doga           166     108      59      181
GR-0487 Lukeman Ahmad        180     123      11       18

In [ ]:
final_data = pd.merge(
    final_data, quiz_grades, left_index=True, right_index=True,
)

In [ ]:
final_data = pd.merge(
    final_data, attendance, left_index=True, right_index=True,
)

In [ ]:
final_data.head()

,,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem Atnd,Bio Atnd,Phy Atnd,Math Atnd
ID,Student name,,,,,,,,,,,,
GR-0483,Bett James,135,186,142,97,127,184,52,133,17,58,29,34
GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,95,57,43,48
GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,96,71,83,93
GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,75,52,94,66
GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,38,47,38,34

In [ ]:
final_data = pd.merge(
    final_data, Exam, left_index=True, right_index=True,
)

In [ ]:
final_data.head()

,,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem Atnd,Bio Atnd,Phy Atnd,Math Atnd,Chem Exam,Bio Exam,Phy Exam,Math Exam
ID,Student name,,,,,,,,,,,,,,,,
GR-0483,Bett James,135,186,142,97,127,184,52,133,17,58,29,34,46,97,73,45
GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,95,57,43,48,52,41,31,31
GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,96,71,83,93,24,51,98,94
GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,75,52,94,66,73,68,65,67
GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,38,47,38,34,80,90,51,68

Calculating average chemistry

In [ ]:
final_data.columns

Index(['Chem HW', 'Bio HW', 'Phy HW', 'Math HW', 'Chem Quiz', 'Bio Quiz',
       'Phy Quiz', 'Math Quiz', 'Chem Atnd', 'Bio Atnd', 'Phy Atnd',
       'Math Atnd', 'Chem Exam', 'Bio Exam', 'Phy Exam', 'Math Exam'],
      dtype='object')

In [ ]:
final_data["Chem AVG"] = ((final_data["Chem HW"] * (15/190)) + (final_data["Chem Quiz"] * (3/19)) + (final_data["Chem Atnd"] * (0.125)) + (final_data["Chem Exam"] * (0.43))).round(2)

In [ ]:
final_data.head()

,,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem Atnd,Bio Atnd,Phy Atnd,Math Atnd,Chem Exam,Bio Exam,Phy Exam,Math Exam,Chem AVG
ID,Student name,,,,,,,,,,,,,,,,,
GR-0483,Bett James,135,186,142,97,127,184,52,133,17,58,29,34,46,97,73,45,52.62
GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,95,57,43,48,52,41,31,31,62.97
GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,96,71,83,93,24,51,98,94,38.43
GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,75,52,94,66,73,68,65,67,57.98
GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,38,47,38,34,80,90,51,68,57.94

Calculating bio average

In [ ]:
final_data.columns

Index(['Chem HW', 'Bio HW', 'Phy HW', 'Math HW', 'Chem Quiz', 'Bio Quiz',
       'Phy Quiz', 'Math Quiz', 'Chem Atnd', 'Bio Atnd', 'Phy Atnd',
       'Math Atnd', 'Chem Exam', 'Bio Exam', 'Phy Exam', 'Math Exam',
       'Chem AVG'],
      dtype='object')

In [ ]:
final_data["Bio  AVG"] = ((final_data["Bio HW"] * (15/190)) + (final_data["Bio Quiz"] * (3/19)) + (final_data["Bio Atnd"] * (0.125)) + (final_data["Bio Exam"] * (0.43))).round(2)
# final_data["Bio  AVG"] = final_data["Bio  AVG"].round(2)

In [ ]:
final_data.head()

,,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem Atnd,Bio Atnd,Phy Atnd,Math Atnd,Chem Exam,Bio Exam,Phy Exam,Math Exam,Chem AVG,Bio AVG
ID,Student name,,,,,,,,,,,,,,,,,,
GR-0483,Bett James,135,186,142,97,127,184,52,133,17,58,29,34,46,97,73,45,52.62,92.70
GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,95,57,43,48,52,41,31,31,62.97,66.12
GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,96,71,83,93,24,51,98,94,38.43,52.83
GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,75,52,94,66,73,68,65,67,57.98,65.27
GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,38,47,38,34,80,90,51,68,57.94,57.60

Calculating physics average

In [ ]:
final_data["Phy AVG"] = ((final_data["Phy HW"] * (15/190)) + (final_data["Phy Quiz"] * (3/19)) + (final_data["Phy Atnd"] * (0.125)) + (final_data["Phy Exam"] * (0.43))).round(2)
# final_data["Phy  AVG"] = final_data["Phy  AVG"].round(2)

In [ ]:
final_data.head()

,,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem Atnd,Bio Atnd,Phy Atnd,Math Atnd,Chem Exam,Bio Exam,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG
ID,Student name,,,,,,,,,,,,,,,,,,,
GR-0483,Bett James,135,186,142,97,127,184,52,133,17,58,29,34,46,97,73,45,52.62,92.70,54.44
GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,95,57,43,48,52,41,31,31,62.97,66.12,22.97
GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,96,71,83,93,24,51,98,94,38.43,52.83,70.44
GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,75,52,94,66,73,68,65,67,57.98,65.27,54.15
GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,38,47,38,34,80,90,51,68,57.94,57.60,55.50

Calculating average score for Math

In [ ]:
final_data["Math AVG"] = ((final_data["Math HW"] * (15/190)) + (final_data["Math Quiz"] * (3/19)) + (final_data["Math Atnd"] * (0.125)) + (final_data["Math Exam"] * (0.43))).round(2)

In [ ]:
final_data.head()

,,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem Atnd,Bio Atnd,Phy Atnd,Math Atnd,Chem Exam,Bio Exam,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG,Math AVG
ID,Student name,,,,,,,,,,,,,,,,,,,,
GR-0483,Bett James,135,186,142,97,127,184,52,133,17,58,29,34,46,97,73,45,52.62,92.70,54.44,52.26
GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,95,57,43,48,52,41,31,31,62.97,66.12,22.97,55.01
GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,96,71,83,93,24,51,98,94,38.43,52.83,70.44,67.68
GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,75,52,94,66,73,68,65,67,57.98,65.27,54.15,64.93
GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,38,47,38,34,80,90,51,68,57.94,57.60,55.50,42.81

Calculating total average score

In [ ]:
final_data["Avg Score"] = ((final_data["Chem AVG"] + final_data["Bio  AVG"] + final_data["Phy AVG"] + final_data["Math AVG"])/4).round(2)

In [ ]:
final_data.head()

,,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem Atnd,Bio Atnd,...,Math Atnd,Chem Exam,Bio Exam,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG,Math AVG,Avg Score
ID,Student name,,,,,,,,,,,,,,,,,,,,,
GR-0483,Bett James,135,186,142,97,127,184,52,133,17,58,...,34,46,97,73,45,52.62,92.70,54.44,52.26,63.00
GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,95,57,...,48,52,41,31,31,62.97,66.12,22.97,55.01,51.77
GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,96,71,...,93,24,51,98,94,38.43,52.83,70.44,67.68,57.34
GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,75,52,...,66,73,68,65,67,57.98,65.27,54.15,64.93,60.58
GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,38,47,...,34,80,90,51,68,57.94,57.60,55.50,42.81,53.46

Calculating GPA

In [ ]:
final_data["(GPA)"] = (final_data["Avg Score"] * 0.05).round(2)

In [ ]:
final_data

,,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem Atnd,Bio Atnd,...,Chem Exam,Bio Exam,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG,Math AVG,Avg Score,(GPA)
ID,Student name,,,,,,,,,,,,,,,,,,,,,
GR-0483,Bett James,135,186,142,97,127,184,52,133,17,58,...,46,97,73,45,52.62,92.70,54.44,52.26,63.00,3.15
GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,95,57,...,52,41,31,31,62.97,66.12,22.97,55.01,51.77,2.59
GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,96,71,...,24,51,98,94,38.43,52.83,70.44,67.68,57.34,2.87
GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,75,52,...,73,68,65,67,57.98,65.27,54.15,64.93,60.58,3.03
GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,38,47,...,80,90,51,68,57.94,57.60,55.50,42.81,53.46,2.67
GR-0488,Akin Torey,125,47,119,144,99,90,0,109,26,88,...,83,18,44,65,64.44,36.66,32.94,58.28,48.08,2.40
GR-0489,Luke Brant,129,47,63,16,171,117,151,121,91,51,...,70,25,19,41,78.66,39.31,48.61,40.75,51.83,2.59
GR-0490,James Kenyata,103,156,31,188,51,188,41,120,39,13,...,98,72,18,52,63.20,74.59,27.91,59.27,56.24,2.81
GR-0491,Ngugi Tionga,111,136,77,145,155,17,12,51,14,42,...,96,27,43,22,76.27,30.28,35.21,33.46,43.80,2.19
GR-0492,Okoro Eze,153,66,97,149,147,61,0,79,31,58,...,48,50,75,76,59.80,43.59,46.66,65.79,53.96,2.70
GR-0493,Agatha Chiluba,106,100,88,79,187,149,117,133,67,64,...,83,80,61,70,81.96,73.82,62.40,64.21,70.60,3.53
GR-0494,Mangu Joseph,171,88,139,33,123,127,48,83,82,87,...,48,23,35,10,63.81,47.76,41.48,21.64,43.67,2.18
GR-0495,Longe Jethro,160,136,119,97,179,120,119,155,48,92,...,93,89,70,81,86.88,79.45,66.41,73.21,76.49,3.82
GR-0496,Florence Giwa,172,19,20,157,98,42,122,84,30,36,...,94,84,68,46,73.22,48.75,53.08,47.69,55.68,2.78
GR-0497,Vetiva Lucent,60,70,109,102,17,177,114,60,48,48,...,36,34,31,87,28.90,54.09,50.44,64.06,49.37,2.47
GR-0498,Melody Braimoh,177,125,65,58,67,162,145,104,68,38,...,39,36,14,89,49.82,55.68,39.42,63.77,52.17,2.61
GR-0499,Victor Ihab,14,90,6,44,177,155,135,43,83,51,...,75,35,33,48,71.68,53.00,42.23,38.78,51.42,2.57
GR-0500,Mimi Trucker,182,146,104,136,148,141,34,61,80,41,...,46,80,23,53,67.52,73.31,32.59,48.66,55.52,2.78
GR-0501,Maguel Peter,95,43,143,79,23,183,81,33,63,28,...,27,25,16,62,30.62,46.54,40.96,49.98,42.02,2.10
GR-0502,Wellington Zuba,130,70,28,77,182,102,71,60,92,19,...,47,38,19,31,70.71,40.35,32.59,40.63,46.07,2.30

Calculating grade

In [ ]:
grades = {
    85: "A",
    75: "B",
    65: "C",
    55: "D",
    50: "E",
    0: "F",
}

def grade_mapping(value):
    for key, letter in grades.items():
        if value >= key:
            return letter

In [ ]:
letter_grades = final_data["Avg Score"].map(grade_mapping)
final_data["Grades"] = pd.Categorical(
    letter_grades, categories=grades.values(), ordered=True
)

In [ ]:
Status = {
   
    "D": "Pass",
    "E": "Retake",
    "F": "Fail",

}
def status_mapping(value):
    for letter, status in Status.items():
        if value <= letter:
            return status

In [ ]:
Status_grading = final_data["Grades"].map(status_mapping)
final_data["Status"] = pd.Categorical(
    Status_grading, categories=Status.values(), ordered=True
)

In [ ]:
final_data

,,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,Chem Atnd,Bio Atnd,...,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG,Math AVG,Avg Score,(GPA),Grades,Status
ID,Student name,,,,,,,,,,,,,,,,,,,,,
GR-0483,Bett James,135,186,142,97,127,184,52,133,17,58,...,73,45,52.62,92.70,54.44,52.26,63.00,3.15,D,Pass
GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,95,57,...,31,31,62.97,66.12,22.97,55.01,51.77,2.59,E,Retake
GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,96,71,...,98,94,38.43,52.83,70.44,67.68,57.34,2.87,D,Pass
GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,75,52,...,65,67,57.98,65.27,54.15,64.93,60.58,3.03,D,Pass
GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,38,47,...,51,68,57.94,57.60,55.50,42.81,53.46,2.67,E,Retake
GR-0488,Akin Torey,125,47,119,144,99,90,0,109,26,88,...,44,65,64.44,36.66,32.94,58.28,48.08,2.40,F,Fail
GR-0489,Luke Brant,129,47,63,16,171,117,151,121,91,51,...,19,41,78.66,39.31,48.61,40.75,51.83,2.59,E,Retake
GR-0490,James Kenyata,103,156,31,188,51,188,41,120,39,13,...,18,52,63.20,74.59,27.91,59.27,56.24,2.81,D,Pass
GR-0491,Ngugi Tionga,111,136,77,145,155,17,12,51,14,42,...,43,22,76.27,30.28,35.21,33.46,43.80,2.19,F,Fail
GR-0492,Okoro Eze,153,66,97,149,147,61,0,79,31,58,...,75,76,59.80,43.59,46.66,65.79,53.96,2.70,E,Retake
GR-0493,Agatha Chiluba,106,100,88,79,187,149,117,133,67,64,...,61,70,81.96,73.82,62.40,64.21,70.60,3.53,C,Pass
GR-0494,Mangu Joseph,171,88,139,33,123,127,48,83,82,87,...,35,10,63.81,47.76,41.48,21.64,43.67,2.18,F,Fail
GR-0495,Longe Jethro,160,136,119,97,179,120,119,155,48,92,...,70,81,86.88,79.45,66.41,73.21,76.49,3.82,B,Pass
GR-0496,Florence Giwa,172,19,20,157,98,42,122,84,30,36,...,68,46,73.22,48.75,53.08,47.69,55.68,2.78,D,Pass
GR-0497,Vetiva Lucent,60,70,109,102,17,177,114,60,48,48,...,31,87,28.90,54.09,50.44,64.06,49.37,2.47,F,Fail
GR-0498,Melody Braimoh,177,125,65,58,67,162,145,104,68,38,...,14,89,49.82,55.68,39.42,63.77,52.17,2.61,E,Retake
GR-0499,Victor Ihab,14,90,6,44,177,155,135,43,83,51,...,33,48,71.68,53.00,42.23,38.78,51.42,2.57,E,Retake
GR-0500,Mimi Trucker,182,146,104,136,148,141,34,61,80,41,...,23,53,67.52,73.31,32.59,48.66,55.52,2.78,D,Pass
GR-0501,Maguel Peter,95,43,143,79,23,183,81,33,63,28,...,16,62,30.62,46.54,40.96,49.98,42.02,2.10,F,Fail
GR-0502,Wellington Zuba,130,70,28,77,182,102,71,60,92,19,...,19,31,70.71,40.35,32.59,40.63,46.07,2.30,F,Fail

Using input function

In [267]:
final_data = final_data.reset_index()

In [254]:
Student_name = str(input("Enter the name of the student: "))

if Student_name == final_data["Student name"].any():

        print("True")
else:
        print("False")

False

In [272]:
final_data = final_data.astype({'Student name': 'string', "ID": 'string'})

final_data.dtypes

index              int64
ID                string
Student name      string
Chem HW            int64
Bio HW             int64
Phy HW             int64
Math HW            int64
Chem Quiz          int64
Bio Quiz           int64
Phy Quiz           int64
Math Quiz          int64
Chem Atnd          int64
Bio Atnd           int64
Phy Atnd           int64
Math Atnd          int64
Chem Exam          int64
Bio Exam           int64
Phy Exam           int64
Math Exam          int64
Chem AVG         float64
Bio  AVG         float64
Phy AVG          float64
Math AVG         float64
Avg Score        float64
(GPA)            float64
Grades          category
Status          category
dtype: object

In [273]:
final_data.dtypes

index              int64
ID                string
Student name      string
Chem HW            int64
Bio HW             int64
Phy HW             int64
Math HW            int64
Chem Quiz          int64
Bio Quiz           int64
Phy Quiz           int64
Math Quiz          int64
Chem Atnd          int64
Bio Atnd           int64
Phy Atnd           int64
Math Atnd          int64
Chem Exam          int64
Bio Exam           int64
Phy Exam           int64
Math Exam          int64
Chem AVG         float64
Bio  AVG         float64
Phy AVG          float64
Math AVG         float64
Avg Score        float64
(GPA)            float64
Grades          category
Status          category
dtype: object

Homework funtion

In [277]:
def Home_work():
    Student_name = input("Enter the name of the student: ")
    for i in final_data["Student name"]:
        if i == Student_name :

            print(
                """
                Welcome Choose subjet from the menu
                1. Chem HW
                2. Bio HW
                3. Phy HW
                4. Math HW
                
                
                """
            )
            subject = int(input("Enter subject number: "))

            if subject == 1:
                HW = final_data.loc[final_data["Student name"]== i]
                # display(HW["Chem Quiz"])
                print(HW[["Student name", "ID", "Chem HW"]])
            elif subject == 2:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Bio HW"]])
            elif subject == 3:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Phy HW"]])
            elif subject == 4:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Math HW"]])
            else:
                print("Invalid subject name!! Enter subject name from the Menu")
                
        else:
            print("Enter the correct name")
        break



Home_work()

Enter the correct name

Quizes function

In [ ]:
def Quizes():
    
    Student_name = input("Enter the name of the student: ")
    for i in final_data["Student name"]:
        if i == Student_name :

            print(
                """
                Welcome Choose subjet from the menu
                1. Chem Quiz
                2. Bio Quiz
                3. Phy Quiz
                4. Math Quiz
                
                
                """
            )
            subject = int(input("Enter subject number: "))

            if subject == 1:
                HW = final_data.loc[final_data["Student name"]== i]
                # display(HW["Chem Quiz"])
                print(HW[["Student name", "ID", "Chem Quiz"]])
            elif subject == 2:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Bio Quiz"]])
            elif subject == 3:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Phy Quiz"]])
            elif subject == 4:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Math Quiz"]])
            else:
                print("Invalid subject name!! Enter subject name from the Menu")
                
        else:
            print("Enter the correct name")
        break

Quizes()

Enter the correct name

Attendance function

In [ ]:
def Attendance():
    
    Student_name = input("Enter the name of the student: ")
    for i in final_data["Student name"]:
        if i == Student_name :

            print(
                """
                Welcome Choose subjet from the menu
                1. Chem Attendance
                2. Bio Attendance
                3. Phy Attendance
                4. Math Attendance
                
                
                """
            )
            subject = int(input("Enter subject number: "))

            if subject == 1:
                HW = final_data.loc[final_data["Student name"]== i]
                # display(HW["Chem Quiz"])
                print(HW[["Student name", "ID", "Chem Atnd"]])
            elif subject == 2:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Bio Atnd"]])
            elif subject == 3:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Phy Atnd"]])
            elif subject == 4:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Math Atnd"]])
            else:
                print("Invalid subject name!! Enter subject name from the Menu")
                
        else:
            print("Enter the correct name")
        break


Attendance()

Enter the correct name

Exam funtion

In [ ]:
def Exam_func():
    
    Student_name = input("Enter the name of the student: ")
    for i in final_data["Student name"]:
        if i == Student_name :

            print(
                """
                Welcome Choose subjet from the menu
                1. Chem Exam
                2. Bio Exam
                3. Phy Exam
                4. Math Exam
                
                
                """
            )
            subject = int(input("Enter subject number: "))

            if subject == 1:
                HW = final_data.loc[final_data["Student name"]== i]
                # display(HW["Chem Quiz"])
                print(HW[["Student name", "ID", "Chem Exam"]])
            elif subject == 2:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Bio Exam"]])
            elif subject == 3:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Phy Exam"]])
            elif subject == 4:
                HW = final_data.loc[final_data["Student name"] == i]
                print(HW[["Student name", "ID", "Math Exam"]])
            else:
                print("Invalid subject name!! Enter subject name from the Menu")
                
        else:
            print("Enter the correct name")
        break



Exam_func()

Enter the correct name

In [ ]:
final_data.columns

Index(['ID', 'Student name', 'Chem HW', 'Bio HW', 'Phy HW', 'Math HW',
       'Chem Quiz', 'Bio Quiz', 'Phy Quiz', 'Math Quiz', 'Chem Atnd',
       'Bio Atnd', 'Phy Atnd', 'Math Atnd', 'Chem Exam', 'Bio Exam',
       'Phy Exam', 'Math Exam', 'Chem AVG', 'Bio  AVG', 'Phy AVG', 'Math AVG',
       'Avg Score', '(GPA)', 'Grades', 'Status'],
      dtype='object')

In [ ]:
final_data.head()

,ID,Student name,Chem HW,Bio HW,Phy HW,Math HW,Chem Quiz,Bio Quiz,Phy Quiz,Math Quiz,...,Phy Exam,Math Exam,Chem AVG,Bio AVG,Phy AVG,Math AVG,Avg Score,(GPA),Grades,Status
0,GR-0483,Bett James,135,186,142,97,127,184,52,133,...,73,45,52.62,92.70,54.44,52.26,63.00,3.15,D,Pass
1,GR-0484,Namukolo Abrams,82,170,12,180,141,177,21,136,...,31,31,62.97,66.12,22.97,55.01,51.77,2.59,E,Retake
2,GR-0485,Vera Abutu,102,55,105,50,51,112,61,74,...,98,94,38.43,52.83,70.44,67.68,57.34,2.87,D,Pass
3,GR-0486,Kwame Doga,166,108,59,181,26,133,62,86,...,65,67,57.98,65.27,54.15,64.93,60.58,3.03,D,Pass
4,GR-0487,Lukeman Ahmad,180,123,11,18,29,21,177,50,...,51,68,57.94,57.60,55.50,42.81,53.46,2.67,E,Retake

In [ ]:

file_version = max([int(i) for i in os.listdir("saved_files") + [0]]) + 1

final_data.to_csv(f"saved_files/grading_version{file_version}.csv")

ValueError: invalid literal for int() with base 10: 'grading_version1.csv'